<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>


<body class="earth-show-forms-background">
    <h1>About: <%= earthling.indexName %></h1><br/>
    <img src="<%= earthling.showImg %>"/><br/>
    
    <form class="delete" action="/earth/<% earthling._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/> 
    </form>

    <div class="show-content">
        <p>
            Full Known Name: <%= earthling.fullName %><br/>
            Age in ATLA: <%= earthling.age %><br/>
            Interesting Fact about <%= earthling.indexName %>:<br/> <%= earthling.interestingFact %></br>
        </p>
        <a href="/earth/<%= earthling._id %>/edit">Edit</a>
        <a href="/earth">Back</a>
    </div>

</body>
</html>