<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')%>

<body class="air-show-forms-background">
    <h1>About: <%= nomad.indexName %></h1><br/>
    <img src ="<%= nomad.showImg %>"/><br/>

    <form class="delete" action="/air/<% nomad._id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete"/> 
    </form>

    <div class="show-content">
        <p>
            Full Known Name: <%= nomad.fullName %><br/>
            Age in ATLA: <%= nomad.age %><br/>
            Interesting Fact about <%= nomad.indexName %>:<br/> <%= nomad.interestingFact %></br>
        </p>
        <a href="/air/<%= nomad._id %>/edit">Edit</a>
        <a href="/air">Back</a>
    </div>

</body>
</html>